<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.TapTapSdk"
            android:value="com.flower.taptapsdkplugin.TapTapSdkPlugin" />
    </application>

</manifest>